<h1 class="text-center">Découvrez nos troupeaux</h1>

<div class="container">
  <div class="row justify-content-center">

    <div id="map"
      style="width: 100%; height: 250px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <% @herds.each do |herd| %>
      <div class="col-12 col-lg-6">
        <div class="card_index">
          <%= image_tag herd.photo, alt:"image troupeau" %>
          <div class="card_index_info">
            <p><%= link_to herd.name, herd_path(herd.id) %></p>
            <p class="price"><b><%= herd.price %></b>€/j</p>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>









