


<div class="container">

   <div class="row justify-content-center">

     <div class="col-12 col-md-6 col-lg-4">

      <div class="row justify-content-center mb-5">
        <h3 class="text-center">Votre troupeau</h3>
         <%= simple_form_for [@herd] do |f| %>
          <%= f.input :name %>
          <%= f.input :goat_number %>
          <%= f.input :address %>
          <%= f.input :price %>
          <%= f.input :about %>
          <%= f.submit "Submit", class: "btn btn-cta" %>
     <% end %>
      </div>

    </div>

  </div>

</div>


