<h1>Ajouter un nouveau troupeau:</h1>

<div class="col-4">
  <%= simple_form_for [@herd] do |f| %>
    <%= f.input :name %>
    <%= f.input :goat_number %>
    <%= f.input :address %>
    <%= f.input :about %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
