
<div class="container">

  <h1 class="text-center"><%= @herd.name %></h1>

  <div class="card-show">
    <%= image_tag @herd.photo, alt:"image troupeau" %>
      <div class="card-show-infos">
        <h2><%= @herd.name %></h2>
        <p><i>"<%= @herd.about %>"</i></p>
        <p> Ce troupeau est constitué de <b><%= @herd.goat_number %></b> chèvre(s) </p>
        <br>
        <br>
        <a class="btn-cta" href="new_herd_booking_path">Réservez ce troupeau</a>
      </div>
  </div>

  <a class="btn" href="/herds">Retour vers la liste</a>

</div>




