<h1><%= @herd.name %></h1>

<p><%= @herd.photo %></p>
<p> Ce troupeau est constitué de <b><%= @herd.goat_number %></b> chèvres </p>
<p> Voila ce que le propriétaire pense de son troupeau : <i>"<%= @herd.about %>"</i></p>

<%= link_to "Je reserve ce troupeau", new_herd_booking_path(params[:id])%>
