<h1 class="text-center"><%= @herd.name %></h1>

<div class="container">

  <div class="card_index">
    <%= image_tag @herd.photo, alt:"image troupeau" %>
    <div class="text-center">
      <p> Ce troupeau est constitué de <b><%= @herd.goat_number %></b> chèvre(s) </p>
      <p><i>"<%= @herd.about %>"</i></p>
      <%= link_to "Je reserve ce troupeau", new_herd_booking_path(params[:id])%>
    </div>

    <br>
    <br>

  </div>

   <div >
    <a class="btn-cta" href="/herds">Retour vers la liste</a>
  </div>

</div>


