
<div class="container">

  <div class="card-show">
      <%= cl_image_tag @herd.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-show-infos">
        <h2><%= @herd.name %></h2>
        <p><i>"<%= @herd.about %>"</i></p>
        <p> Ce troupeau est constitué de <b><%= @herd.goat_number %></b> chèvre(s) </p>
        <br>
        <p> Prix à la journée : <b><%= @herd.price %></b> € </p>
        <br>
        <%#= link_to "Réservez ce troupeau", new_herd_booking_path(params[:id]), :class => "btn-cta" %>
        <p class="btn btn-cta" id="booking-button">Réservez ce troupeau</p>
      </div>

  </div>

  <a class="btn" href="/herds">Retour vers la liste</a>


  <div class="row justify-content-center booking-form">

     <div class="col-12 col-md-6 col-lg-4">

      <div class="row justify-content-center mb-5">
        <%= simple_form_for [@herd, @booking] do |f| %>
          <%= f.input :booking_date %>
          <%= f.submit "Submit", class: "btn btn-cta" %>
        <% end %>
      </div>

    </div>

  </div>

</div>




